@import "grid.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 800px;
}

.header {
    height: 100px;
    background: rgb(88,58,166);
    display: flex;
    div {
        width: 33.33333333%;
    }
    .header-logo {
        color: #ffffff;
        font-size: 50px;
        text-transform: uppercase;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 20px;
        font-weight: 900;
    }
    .header-log-section {
       
        color: #ffffff;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .header-log-section-bottom {
            display: flex;
            justify-content: space-between
        }
        div {
            width: 100%;
        }
        
    }
}
.menu-btn {
    height: 40px;
    display: flex;
    div {
        width: 33.33333333333333%;
        text-align: center;
        text-transform: uppercase;
        padding-top: 10px;
        
    }
    div:nth-child(1) {
        background: rgb(109,63,177);
        color: #ffffff;
        cursor: pointer;
    }
    div:nth-child(2) {
        background: rgb(212,205,231);
        cursor: pointer;
    }
    div:nth-child(3) {
        background: rgb(229,229,229);
    }
}
